@use "./mixins" as *;
@use "./variables" as *;

/* ****************************** */
/*           MAIN FOOTER          */
/* ****************************** */
.footer {
  background-color: $black;
  padding: 2rem 0;
  @include respond-to-min($tablet) {
    padding-bottom: 4rem;
  }
  &__section {
    padding: 1rem 2rem;
    align-items: flex-end;
    @include respond-to-min($tablet) {
      display: flex;
      padding: 2rem 4rem 0 4rem;
      gap: 5%;
    }
    @include respond-to-max(815px) { // overflow fix
      gap: 1%;
    }
    &--mobile {
      padding: 1rem 2rem;
      @include respond-to-min($tablet) {
        display: none;
      }
    }
  }
}

/* ****************************** */
/*         FOOTER SECTIONS        */
/* ****************************** */
.footer-section {
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    &--socials {
      @include respond-to-min($tablet) {
        display: flex;
        align-items: flex-end;
      }
    }
    &--right {
      margin-right: 0;
      flex-grow: 1;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    white-space: nowrap;
    @include respond-to-min($tablet) {
      margin-bottom: 2rem;
    }
  }

  /* FOOTER TYPOGRAPHY */
  &__header {
    margin: 0;
    @include typography("Avenir Demi", $text-xl, $white, 2rem, none, capitalize);
    &--tablet-desktop {
      margin: 0;
      @include typography("Avenir Demi", $text-xl, $white, 2rem, none, capitalize);
      @include respond-to-max($tablet) {
        display: none;
      }
      @include respond-to-min($tablet) {
        display: flex;
      }
    }
  }
  &__subheader {
    margin: 2rem 0;
    @include typography("Avenir Demi", $text-med, $white, 1.5rem, none, capitalize);
    @include respond-to-min($tablet) {
      @include typography("Avenir Demi", $text-sm, $white, 1rem, none, capitalize);
    }
  }
  &__text {
    margin: 0;
    @include typography("Avenir Regular", $text-sm, $white, 1.5rem, none, capitalize);
  }
  &__link {
    margin: 1rem 0;
    @include typography("Avenir Regular", $text-sm, $white, 1.5rem, none, none);
    @include respond-to-min($tablet) {
      margin: 2rem 0 0 0;
    }
  }

  /* FOOTER ICONS */
  &__icons {
    height: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 2.5rem;
    @include respond-to-min($tablet) {
      margin: 0;
    }
    &--tablet-desktop {
      display: flex;
      gap: 2.5rem;
      @include respond-to-max($tablet) {
        display: none;
      }
      @include respond-to-min($tablet) {
        display: flex;
      }
    }
  }
  &__icon {
    height: 2.5rem;
    @include respond-to-min($tablet) {
      height: 1.75rem;
    }
  }

  /* FOOTER LOGO */
  &__logo {
    @include respond-to-max($tablet) {
      display: none;
    }
    &--mobile {
      width: 10rem;
      margin: 1.5rem 0 1rem 0;
      @include respond-to-min($tablet) {
        display: none;
      }
    }
    &--tablet-desktop {
      height: 1.5rem;
      @include respond-to-max($tablet) {
        display: none;
      }
      @include respond-to-min($tablet) {
        display: flex;
        margin: 0;
        margin-left: auto;
      }
    }
  }
}
