@use "./mixins" as *;
@use "./variables" as *;

/* ****************************** */
/*           MAIN FOOTER          */
/* ****************************** */

/* MAIN FOOTER MOBILE */
.footer {
  background-color: $black;
  padding: 2rem 0;

  &__section {
    padding: 1rem 2rem;
    align-items: flex-end;
    @include respond-to-max(815px) {
      gap: 1%;
    }
    &--mobile {
      padding: 1rem 2rem;
    }
  }
}

/* MAIN FOOTER TABLET */
@include respond-to-min($tablet) {
  .footer {
    padding-bottom: 4rem;

    &__section {
      display: flex;
      padding: 2rem 4rem 0 4rem;
      gap: 5%;

      &--mobile {
        display: none;
      }
    }
  }
}

/* MAIN FOOTER TABLET */
@include respond-to-min($desktop) {
  .footer {
    &__section {
      padding: 2rem 8rem 0 8rem;
    }
  }
}

/* ****************************** */
/*         FOOTER SECTIONS        */
/* ****************************** */

/* FOOTER MOBILE */
.footer-section {
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    &--right {
      margin-right: 0;
      flex-grow: 1;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  &__header {
    margin: 0;
    @include typography($text-xl, 600, $white, 2rem, none, capitalize);
    &--tablet-desktop {
      margin: 0;
      @include typography($text-xl, 600, $white, 2rem, none, capitalize);
    }
  }
  &__subheader {
    margin: 2rem 0;
    @include typography($text-med, 600, $white, 1.5rem, none, capitalize);
  }
  &__text {
    margin: 0;
    @include typography($text-sm, 400, $white, 1.5rem, none, capitalize);
  }
  &__link {
    margin: 1rem 0;
    @include typography($text-sm, 400, $white, 1.5rem, none, none);
  }

  &__icons {
    height: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 2.5rem;
    &--tablet-desktop {
      display: flex;
      gap: 2.5rem;
    }
  }
  &__icon {
    height: 2.5rem;
  }

  &__logo {
    &--mobile {
      width: 10rem;
      margin: 1.5rem 0 1rem 0;
    }
    &--tablet-desktop {
      height: 1.5rem;
    }
  }
}

/* FOOTER SECTIONS TABLET */
@include respond-to-min($tablet) {
  .footer-section {
    &__item {
      &--socials {
        display: flex;
        align-items: flex-end;
      }
    }
    &__wrapper {
      margin-bottom: 2rem;
    }
    &__header {
      display: flex;
      &--tablet-desktop {
        display: flex;
      }
    }
    &__subheader {
      font-size: $text-sm;
      line-height: 1rem;
    }
    &__link {
      margin: 2rem 0 0 0;
    }
    &__icons {
      margin: 0;
      &--tablet-desktop {
        display: flex;
      }
    }
    &__icon {
      height: 1.75rem;
    }
    &__logo {
      &--mobile {
        display: none;
      }
      &--tablet-desktop {
        display: flex;
        margin: 0;
        margin-left: auto;
      }
    }
  }
}

@include respond-to-max(766px) {
  .footer-section {
    &__header {
      &--tablet-desktop {
        display: none;
      }
    }
    &__icons {
      &--tablet-desktop {
        display: none;
      }
    }
    &__logo {
      display: none;
      &--tablet-desktop {
        display: none;
      }
    }
  }
}
