@use "./mixins" as *;
@use "./variables" as *;

.footer {
  background-color: $black;
  padding: 1.5rem 0;
  &__section {
    padding: 1rem 1rem;
    @include respond-to-min($tablet) {
      display: flex;
    }
    &--mobile {
      padding: 1rem 1rem;
      @include respond-to-min($tablet) {
        display: none;
      }
    }
  }
}

.footer-section {
  &__header {
    margin: 0;
    @include typography("Avenir Demi", $section-header-mobile, $white, 2rem, none, capitalize);
    &--tablet-desktop {
      margin: 0;
      @include typography("Avenir Demi", $section-header, $white, 2rem, none, capitalize);
      @include respond-to-max($tablet) {
        display: none;
      }
    }
  }
  &__subheader {
    margin: 1.5rem 0 1rem 0;
    @include typography("Avenir Demi", $subheader-mobile, $white, 1.5rem, none, capitalize);
    @include respond-to-min($tablet) {
      @include typography("Avenir Demi", 1rem, $white, 1rem, none, capitalize);
    }
  }
  &__text {
    margin: 0;
    @include typography("Avenir Regular", $footer-copy-mobile, $white, 1.5rem, none, capitalize);
  }
  &__link {
    margin: 0;
    margin-top: 1rem;
    @include typography("Avenir Regular", $footer-copy-mobile, $white, 1.5rem, none, none);
  }
  &__icons {
    margin-top: 1.5rem;
    display: flex;
    @include respond-to-min($tablet) {
      margin: 0;
    }
    &--tablet-desktop {
      @include respond-to-max($tablet) {
        display: none;
      }
    }
  }
  &__icon {
    height: 2.5rem;
    margin-right: 3rem;
    @include respond-to-min($tablet) {
      height: 1.5rem;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    @include respond-to-min($tablet) {
      margin-bottom: 2rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    @include respond-to-min($tablet) {
      margin-right: 4rem;
    }
    &--socials {
      @include respond-to-min($tablet) {
        width: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
    &--right {
      flex-grow: 1;
      margin: 0;
    }
  }
  &__logo {
    @include respond-to-max($tablet) {
      display: none;
    }
    &--mobile {
      // height: 2.188rem;
      width: 10rem;
      margin: 1.5rem 0 1rem 0;
      @include respond-to-min($tablet) {
        display: none;
      }
    }
    &--tablet-desktop {
      width: 10rem;
      margin: 1.5rem 0 1rem 0;
      @include respond-to-max($tablet) {
        display: none;
      }
      @include respond-to-min($tablet) {
        display: flex;
        margin: 0;
        margin-left: auto;
      }
    }
  }
}
