@use "./variables" as *;
@use "./mixins" as *;

/* ****************************** */
/*           INPUT STYLE          */
/* ****************************** */

/* INPUT */
%input-style {
  background-color: $alabaster;
  border: solid 0.063rem $mercury;
  border-radius: 0.25rem;
  padding: 0.75rem;
  transition: 0.5s;
  outline-color: initial;
  @include typography($text-sm, 400, $black, 2rem, none, none);
  &:focus {
    outline: 0.063rem solid $dark-black;
  }
}

/* ERROR */
.form-error {
  &:focus {
    outline: 0.063rem solid $error;
  }
}

/* BUTTONS */
%button {
  cursor: pointer;
  width: 100%;
  background-color: $black;
  border-style: none;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  @include typography($text-sm, 600, $white, 2rem, none, uppercase);
  letter-spacing: 0.05rem;
  transition: 0.3s;
  &:hover {
    background-color: $dark-black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0.438rem 1.813rem 0px;
  }
  &:disabled {
    background-color: $silver;
  }
}

/* ****************************** */
/*               FORM             */
/* ****************************** */
.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__label {
    @include typography($text-xs, 600, $silver, 2rem, none, uppercase);
    margin: 0;
  }
  &__input-name {
    @extend %input-style;
    height: 2.25rem;
  }
  &__textarea {
    @extend %input-style;
  }
  &__button {
    @extend %button;
    @include respond-to-min($tablet) {
      margin-left: auto;
      width: 9.5rem;
    }
  }
}
