@use "./mixins" as *;
@use "./variables" as *;

/* ****************************** */
/*            BODY HTML           */
/* ****************************** */
body, html {
  margin: 0;
  padding: 0;
}

/* ****************************** */
/*             NAVBAR             */
/* ****************************** */
.header {
  background-color: $black;
  height: 140px;
  .navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond-to-min($tablet) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }
    &__brand {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to-min($tablet) {
        padding: 0 24px;
        margin-left: 2rem;
      }
    }
    &__logo {
      height: 35px;
      @include respond-to-min($tablet) {
        margin-right: 4rem;
      }
    }
    &__menu {
      height: 80%;
      @include respond-to-min($tablet) {
        height: 100%;
      }
    }
    &__list {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;
      margin: 0;
      @include typography("Avenir Regular", 1.5rem, $mercury, 32px, none, capitalize);
      &:hover {
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $white;
        }
      }
      &--active {
        @include typography("Avenir Regular", 1.5rem, $white, 32px, none, capitalize);
      }
    }
    &__item {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
      @include typography("Avenir Regular", 1.5rem, $mercury, 32px, none, capitalize);
      &--active {
      @include typography("Avenir Demi", 1.5rem, $white, 32px, none, capitalize);
      position: relative;
      align-items: center;
      margin-right: 24px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $white;
      }
      @include respond-to-min($tablet) {
        position: relative;
        align-items: center;
        margin-right: 4rem;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $white;
        }
      }
    }
    }
  }
}

/* ****************************** */
/*             FOOTER             */
/* ****************************** */
.footer {
  background-color: $black;
  padding: 1.5rem 0;
  &__section {
    padding: 16px 16px;
    @include respond-to-min($tablet) {
      display: flex;
    }
  }
}

.footer-section {
  &__header {
    margin: 0;
    @include typography("Avenir Demi", $section-header-mobile, $white, 2rem, none, capitalize);
  }
  &__subheader {
    margin: 1.5rem 0 1rem 0;
    @include typography("Avenir Demi", $subheader-mobile, $white, 1.5rem, none, capitalize);
  }
  &__text {
    margin: 0;
    @include typography("Avenir Regular", $footer-copy-mobile, $white, 1.5rem, none, capitalize);
  }
  &__link {
    margin: 0;
    margin-top: 1rem;
    @include typography("Avenir Regular", $footer-copy-mobile, $white, 1.5rem, none, capitalize);
  }
  &__icons {
    margin-top: 1.5rem;
    display: flex;
    @include respond-to-min($tablet) {
      margin: 0;
    }
  }
  &__icon {
    height: 2.5rem;
    margin-right: 3rem;
    @include respond-to-min($tablet) {
      height: 1.5rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    &--socials {
      @include respond-to-min($tablet) {
        width: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
  }
  &__logo {
    @include respond-to-max($tablet) {
      display: none;
    }
    &--mobile {
      // height: 2.188rem;
      width: 10rem;
      margin: 1.5rem 0 1rem 0;
      @include respond-to-min($tablet) {
        display: none;
      }
    }
    &--tablet-desktop {
      width: 10rem;
      margin: 1.5rem 0 1rem 0;
      @include respond-to-max($tablet) {
        display: none;
      }
      @include respond-to-min($tablet) {
        display: flex;
        margin: 0;
        margin-left: auto;
      }
    }
  }
}
