@use "./mixins" as *;
@use "./variables" as *;

/* ****************************** */
/*            BODY HTML           */
/* ****************************** */
body, html {
  margin: 0;
  padding: 0;
}

/* ****************************** */
/*             NAVBAR             */
/* ****************************** */
.header {
  background-color: $black;
  height: 120px;
  .navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond-to-min($tablet) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }
    &__brand {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to-min($tablet) {
        padding: 0 24px;
      }
    }
    &__logo {
      width: 120px;
    }
    &__menu {
      height: 100%;
    }
    &__list {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    &__item {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
      color: $mercury;
      @include section-header-mobile(capitalize);
      &--active {
        border-bottom: 4px solid $white;
        @include respond-to-min($tablet) {
          border: none;
        }
      @include respond-to-min($tablet) {
        position: relative;
        align-items: center;
        margin-right: 24px;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $white;
        }
      }
      }
    }
  }
}

/* ****************************** */
/*             FOOTER             */
/* ****************************** */
.footer {
  background-color: $black;
  &__section {
    padding: 16px 16px;
  }
}
.footer-section {
  &__header {
    @include section-header-mobile(capitalize);
    color: $white;
    margin: 0;
  }
  &__subheader {
    @include subheader-mobile(capitalize);
    color: $white;
    margin: 16px 0;
  }
  &__text {
    @include footer-copy-mobile(capitalize);
    color: $white;
    margin: 0;
  }
  &__icons {
    margin-top: 16px;
    display: flex;
    gap: 24px;
  }
  &__icon {
    height: 24px;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    @include respond-to-max($tablet) {
      display: none;
    }
  }
}
