@use "./variables" as *;

@font-face {
  font-family: 'Avenir Regular';
  src: url('../../assets/fonts/AvenirNextLTPro.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Avenir Demi';
  src: url('../../assets/fonts/AvenirNextLTProDemi.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Bold';
  src: url('../../assets/fonts/AvenirNextLTProBold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* ****************************** */
/*            TYPEFACES           */
/* ****************************** */

@mixin typography ($font-family, $font-size, $color, $line-height, $text-decoration, $text-transform) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
  text-decoration: $text-decoration;
  text-transform: $text-transform;
}

/* ****************************** */
/*           MEDIA QUERIES        */
/* ****************************** */

@mixin respond-to-min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content
  }
}

@mixin respond-to-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}
