/* ****************************** */
/*             COLORS             */
/* ****************************** */

/* PRIMARY */
$black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

/* SECONDARY */
$dark-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

/* ****************************** */
/*           BREAKPOINTS          */
/* ****************************** */

$tablet: 767px;
$desktop: 1280px;

/* ****************************** */
/*            TYPEFACES           */
/* ****************************** */

$text-xxl: 4.5rem;
$text-xl: 2.5rem;
$text-lg: 2rem;
$text-med: 1.5rem;
$text-sm: 1rem;
