/* ****************************** */
/*             COLORS             */
/* ****************************** */

/* PRIMARY */
$black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

/* SECONDARY */
$dark-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

/* ****************************** */
/*           BREAKPOINTS          */
/* ****************************** */

$tablet: 767px;
$desktop: 1280px;

/* ****************************** */
/*            TYPEFACES           */
/* ****************************** */

/* FONT SIZES DESKTOP */
$page-header: 3.75rem; // 60px
$section-header: 2.25rem; // 36px
$subheader: 1.5rem; // 24px
$body-copy: 0.875rem; // 14px
$footer-copy: 0.875rem; // 14px
$labels-buttons: 0.75rem; // 12px

/* FONT SIZES MOBILE */
$page-header-mobile: 1.5rem; // 24px
$section-header-mobile: 1.5rem; // 24px
$subheader-mobile: 0.875rem; // 14px
$body-copy-mobile: 0.813rem; // 13px
$footer-copy-mobile: 0.813rem; // 13px
$labels-buttons-mobile: 0.625rem; // 10px

/* FONT WEIGHTS */
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;
