@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/globals";

/* ****************************** */
/*              HERO              */
/* ****************************** */
.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 16px;
  }
  &__header {
    margin: 0;
    padding: 0;
    color: $white;
  }
}

/* ****************************** */
/*         ABOUT SECTION          */
/* ****************************** */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  &__header {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }
  &__container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  }
  &__figure {
    margin: 0;
  }
  &__image {
    width: 100%;
  }
  &__caption {
    &--header {
    }
    &--subheader {
    }
  }
  &__content {
    margin-top: 24px;
  }
  &__subheader {
    margin: 0;
    padding: 0;
  }
  &__text {
    margin: 0;
    padding: 0;
    margin-top: 16px;
  }
}

/* ****************************** */
/*         GALLERY SECTION        */
/* ****************************** */
.gallery {
  padding: 0 16px;
  margin-top: 24px;
  &__header {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }
  &__images {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 100%;
    margin-bottom: 16px;
  }
}
