/* ****************************** */
/*             COLORS             */
/* ****************************** */
/* PRIMARY */
/* SECONDARY */
/* ****************************** */
/*           BREAKPOINTS          */
/* ****************************** */
/* ****************************** */
/*            TYPEFACES           */
/* ****************************** */
/* FONT SIZES DESKTOP */
/* FONT SIZES MOBILE */
/* FONT WEIGHTS */
@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
}
/* ****************************** */
/*            TYPEFACES           */
/* ****************************** */
/* ****************************** */
/*           MEDIA QUERIES        */
/* ****************************** */
/* ****************************** */
/*            BODY HTML           */
/* ****************************** */
body, html {
  margin: 0;
  padding: 0;
}

/* ****************************** */
/*             NAVBAR             */
/* ****************************** */
.header {
  background-color: #323232;
  height: 8.75rem;
}
.header .navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 767px) {
  .header .navbar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.header .navbar__brand {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .header .navbar__brand {
    padding: 0 1.5rem;
    margin-left: 2rem;
  }
}
.header .navbar__logo {
  height: 2.188;
}
@media (min-width: 767px) {
  .header .navbar__logo {
    margin-right: 4rem;
  }
}
.header .navbar__menu {
  height: 80%;
}
@media (min-width: 767px) {
  .header .navbar__menu {
    height: 100%;
  }
}
.header .navbar__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  height: 100%;
}
.header .navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #E1E1E1;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.header .navbar__link:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #FFFFFF;
}
.header .navbar__link--active {
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.header .navbar__item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #E1E1E1;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.header .navbar__item--active {
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  align-items: center;
  margin-right: 1.5rem;
}
.header .navbar__item--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #FFFFFF;
}
@media (min-width: 767px) {
  .header .navbar__item--active {
    position: relative;
    align-items: center;
    margin-right: 4rem;
  }
  .header .navbar__item--active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: #FFFFFF;
  }
}

/* ****************************** */
/*             FOOTER             */
/* ****************************** */
.footer {
  background-color: #323232;
  padding: 1.5rem 0;
}
.footer__section {
  padding: 1rem 1rem;
}
@media (min-width: 767px) {
  .footer__section {
    display: flex;
  }
}
.footer__section--mobile {
  padding: 1rem 1rem;
}
@media (min-width: 767px) {
  .footer__section--mobile {
    display: none;
  }
}

.footer-section__header {
  margin: 0;
  font-family: "Avenir Demi";
  font-size: 2.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-section__header--tablet-desktop {
  margin: 0;
  font-family: "Avenir Demi";
  font-size: 2.25rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .footer-section__header--tablet-desktop {
    display: none;
  }
}
.footer-section__subheader {
  margin: 1.5rem 0 1rem 0;
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .footer-section__subheader {
    font-family: "Avenir Demi";
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1rem;
    text-decoration: none;
    text-transform: capitalize;
  }
}
.footer-section__text {
  margin: 0;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-section__link {
  margin: 0;
  margin-top: 1rem;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: none;
}
.footer-section__icons {
  margin-top: 1.5rem;
  display: flex;
}
@media (min-width: 767px) {
  .footer-section__icons {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .footer-section__icons--tablet-desktop {
    display: none;
  }
}
.footer-section__icon {
  height: 2.5rem;
  margin-right: 3rem;
}
@media (min-width: 767px) {
  .footer-section__icon {
    height: 1.5rem;
  }
}
.footer-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
@media (min-width: 767px) {
  .footer-section__wrapper {
    margin-bottom: 2rem;
  }
}
.footer-section__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
@media (min-width: 767px) {
  .footer-section__item {
    margin-right: 4rem;
  }
}
@media (min-width: 767px) {
  .footer-section__item--socials {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
}
.footer-section__item--right {
  flex-grow: 1;
  margin: 0;
}
@media (max-width: 767px) {
  .footer-section__logo {
    display: none;
  }
}
.footer-section__logo--mobile {
  width: 10rem;
  margin: 1.5rem 0 1rem 0;
}
@media (min-width: 767px) {
  .footer-section__logo--mobile {
    display: none;
  }
}
.footer-section__logo--tablet-desktop {
  width: 10rem;
  margin: 1.5rem 0 1rem 0;
}
@media (max-width: 767px) {
  .footer-section__logo--tablet-desktop {
    display: none;
  }
}
@media (min-width: 767px) {
  .footer-section__logo--tablet-desktop {
    display: flex;
    margin: 0;
    margin-left: auto;
  }
}

/* ****************************** */
/*              HERO              */
/* ****************************** */
.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
}
.hero__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
@media (min-width: 767px) {
  .hero__container {
    margin-left: 1.5rem;
  }
}
.hero__header {
  margin: 0;
  padding: 0;
  font-family: "Avenir Demi";
  font-size: 2.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}

/* ****************************** */
/*         ABOUT SECTION          */
/* ****************************** */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
@media (min-width: 767px) {
  .about {
    margin-top: 4rem;
  }
}
.about__header {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: "Avenir Demi";
  font-size: 2.5rem;
  color: #323232;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .about__header {
    margin-left: 1.5rem;
  }
}
.about__container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.about__figure {
  margin: 0;
}
@media (min-width: 767px) {
  .about__figure {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }
}
.about__image {
  width: 100%;
}
@media (min-width: 767px) {
  .about__image {
    height: 25rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}
.about__caption {
  margin-top: 1rem;
}
.about__caption--header {
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #323232;
  line-height: 2.25rem;
  text-decoration: none;
  text-transform: sentence;
}
.about__caption--subheader {
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #323232;
  line-height: 2.75rem;
  text-decoration: none;
  text-transform: sentence;
}
@media (min-width: 767px) {
  .about__caption--subheader {
    font-family: "Avenir Demi";
    font-size: 1rem;
    color: #323232;
    line-height: 2.75rem;
    text-decoration: none;
    text-transform: sentence;
  }
}
.about__subheader {
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #323232;
  line-height: 1.375rem;
  text-decoration: none;
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .about__subheader {
    font-family: "Avenir Demi";
    font-size: 1.5rem;
    color: #323232;
    line-height: 2.75rem;
    text-decoration: none;
    text-transform: sentence;
  }
}
@media (min-width: 767px) {
  .about__content {
    margin-top: 1rem;
    padding: 0 4rem;
  }
}
@media (min-width: 767px) {
  .about__text-wrapper {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
  }
}
.about__text {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #323232;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: sentence;
}

/* ****************************** */
/*         GALLERY SECTION        */
/* ****************************** */
.gallery {
  background-color: #FAFAFA;
  padding: 0 1rem;
  margin-top: 1.5rem;
}
@media (min-width: 767px) {
  .gallery {
    margin-top: 4rem;
    padding: 2rem;
  }
}
.gallery__header {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: "Avenir Demi";
  font-size: 2.5rem;
  color: #323232;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.gallery__images {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .gallery__images {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
.gallery__image {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 767px) {
  .gallery__image {
    width: 31%;
    margin: 0;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=bio.css.map */
