/* ****************************** */
/*             COLORS             */
/* ****************************** */
/* PRIMARY */
/* SECONDARY */
/* ****************************** */
/*           BREAKPOINTS          */
/* ****************************** */
/* ****************************** */
/*            TYPEFACES           */
/* ****************************** */
/* ****************************** */
/*         FONTS IMPORTS          */
/* ****************************** */
@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
}
/* ****************************** */
/*            TYPEFACES           */
/* ****************************** */
/* ****************************** */
/*           MEDIA QUERIES        */
/* ****************************** */
/* ****************************** */
/*              HEADER            */
/* ****************************** */
/* HEADER LINK ANIMATIONS */
.header .navbar__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.25rem;
  background-color: #FFFFFF;
  transition: width 0.3s ease, left 0.3s ease;
}
.header .navbar__link:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #FFFFFF;
}

.header .navbar__link--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #FFFFFF;
}

/* HEADER MOBILE */
.header {
  background-color: #323232;
  height: 8.75rem;
}
.header .navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .navbar__brand {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar__logo {
  height: 2rem;
}
.header .navbar__menu {
  height: 80%;
}
.header .navbar__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  height: 100%;
}
.header .navbar__item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  align-items: center;
}
.header .navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #E1E1E1;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.header .navbar__link--active {
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.header .navbar__link--brand {
  display: flex;
  align-items: center;
}

/* HEADER TABLET */
@media (min-width: 768px) {
  .header {
    height: 6rem;
  }
  .header .navbar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 4rem;
  }
  .header .navbar__logo {
    height: 1.5rem;
  }
  .header .navbar__menu {
    height: 100%;
    margin-left: 4rem;
  }
  .header .navbar__item {
    position: relative;
    align-items: center;
    margin-right: 4rem;
  }
}
/* HEADER DESKTOP */
@media (min-width: 1280px) {
  .header .navbar {
    padding: 0 8rem;
  }
}
/* ****************************** */
/*           MAIN FOOTER          */
/* ****************************** */
/* MAIN FOOTER MOBILE */
.footer {
  background-color: #323232;
  padding: 2rem 0;
}
.footer__section {
  padding: 1rem 2rem;
  align-items: flex-end;
}
@media (max-width: 815px) {
  .footer__section {
    gap: 1%;
  }
}
.footer__section--mobile {
  padding: 1rem 2rem;
}

/* MAIN FOOTER TABLET */
@media (min-width: 768px) {
  .footer {
    padding-bottom: 4rem;
  }
  .footer__section {
    display: flex;
    padding: 2rem 4rem 0 4rem;
    gap: 5%;
  }
  .footer__section--mobile {
    display: none;
  }
}
/* MAIN FOOTER TABLET */
@media (min-width: 1280px) {
  .footer__section {
    padding: 2rem 8rem 0 8rem;
  }
}
/* ****************************** */
/*         FOOTER SECTIONS        */
/* ****************************** */
/* FOOTER MOBILE */
.footer-section__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.footer-section__item--right {
  margin-right: 0;
  flex-grow: 1;
}
.footer-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.footer-section__header {
  margin: 0;
  font-family: "Avenir Demi";
  font-size: 2.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-section__header--tablet-desktop {
  margin: 0;
  font-family: "Avenir Demi";
  font-size: 2.5rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-section__subheader {
  margin: 2rem 0;
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-section__text {
  margin: 0;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-section__link {
  margin: 1rem 0;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: none;
}
.footer-section__icons {
  height: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 2.5rem;
}
.footer-section__icons--tablet-desktop {
  display: flex;
  gap: 2.5rem;
}
.footer-section__icon {
  height: 2.5rem;
}
.footer-section__logo--mobile {
  width: 10rem;
  margin: 1.5rem 0 1rem 0;
}
.footer-section__logo--tablet-desktop {
  height: 1.5rem;
}

/* FOOTER SECTIONS TABLET */
@media (min-width: 768px) {
  .footer-section__item--socials {
    display: flex;
    align-items: flex-end;
  }
  .footer-section__wrapper {
    margin-bottom: 2rem;
  }
  .footer-section__header {
    display: flex;
  }
  .footer-section__header--tablet-desktop {
    display: flex;
  }
  .footer-section__subheader {
    font-size: 1rem;
    line-height: 1rem;
  }
  .footer-section__link {
    margin: 2rem 0 0 0;
  }
  .footer-section__icons {
    margin: 0;
  }
  .footer-section__icons--tablet-desktop {
    display: flex;
  }
  .footer-section__icon {
    height: 1.75rem;
  }
  .footer-section__logo--mobile {
    display: none;
  }
  .footer-section__logo--tablet-desktop {
    display: flex;
    margin: 0;
    margin-left: auto;
  }
}
@media (max-width: 766px) {
  .footer-section__header--tablet-desktop {
    display: none;
  }
  .footer-section__icons--tablet-desktop {
    display: none;
  }
  .footer-section__logo {
    display: none;
  }
  .footer-section__logo--tablet-desktop {
    display: none;
  }
}
/* ****************************** */
/*             RESETS             */
/* ****************************** */
/* BODY+HTML */
body, html {
  margin: 0;
  padding: 0;
}

/* ****************************** */
/*              HERO              */
/* ****************************** */
/* HERO MOBILE */
.hero--bio {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.hero--shows {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2.5rem 1.5rem;
}
.hero__container--bio {
  padding: 0 1.5rem;
}
.hero__subheader {
  margin: 0;
  padding: 0;
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 4.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
.hero__header {
  margin: 0;
  padding: 0;
  font-family: "Avenir Demi";
  font-size: 2rem;
  color: #FFFFFF;
  line-height: 2.5rem;
  text-decoration: none;
  text-transform: capitalize;
  width: 65%;
}
.hero__header--collab-key {
  text-transform: none;
}
.hero__music-player {
  margin-top: 2.5rem;
}

/* HERO TABLET */
@media (min-width: 768px) {
  .hero {
    height: 80vh;
  }
  .hero__container {
    padding: 0 4rem;
  }
  .hero__subheader {
    font-family: "Avenir Demi";
  }
  .hero__header {
    font-size: 4.5rem;
    line-height: 5.5rem;
    width: 66%;
  }
  .hero__music-player {
    width: 66%;
  }
}
/* HERO DESKTOP */
@media (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
  .hero__container {
    padding: 0 8rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
  }
  .hero__header {
    width: 100%;
  }
}
/* ****************************** */
/*           INPUT STYLE          */
/* ****************************** */
/* INPUT */
.comment-form__textarea, .comment-form__input-name {
  background-color: #FAFAFA;
  border: solid 1px #E1E1E1;
  border-radius: 4px;
  padding: 0.75rem;
  transition: 0.5s;
  outline-color: initial;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #323232;
  line-height: 2rem;
  text-decoration: none;
  text-transform: none;
}
.comment-form__textarea:focus, .comment-form__input-name:focus {
  outline: 1px solid #000000;
}

/* ERROR */
.form-error:focus {
  outline: 1px solid red;
}

/* BUTTONS */
.comment-form__button {
  cursor: pointer;
  width: 100%;
  background-color: #323232;
  border-style: none;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  font-family: "Avenir Demi";
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: 0.3s;
}
.comment-form__button:hover {
  background-color: #000000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ****************************** */
/*               FORM             */
/* ****************************** */
/* FORM MOBILE */
.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-form__label {
  font-family: "Avenir Demi";
  font-size: 0.75rem;
  color: #AFAFAF;
  line-height: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}
.comment-form__input-name {
  height: 36px;
}
/* FORM TABLET */
@media (min-width: 768px) {
  .comment-form__button {
    margin-left: auto;
    width: 9.5rem;
  }
}
/* ****************************** */
/*         ABOUT SECTION          */
/* ****************************** */
/* ABOUT MOBILE */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.about__container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}
.about__header {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  font-family: "Avenir Demi";
  font-size: 2rem;
  color: #323232;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.about__figure {
  margin: 0;
}
.about__image {
  width: 100%;
}
.about__caption {
  margin-top: 1.5rem;
}
.about__caption--header {
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #323232;
  line-height: 2.5rem;
  text-decoration: none;
  text-transform: sentence;
}
.about__caption--subheader {
  font-family: "Avenir Demi";
  font-size: 1.5rem;
  color: #323232;
  line-height: 4rem;
  text-decoration: none;
  text-transform: sentence;
}
.about__content {
  margin-top: 2rem;
}
.about__subheader {
  margin: 0;
  padding: 0;
  font-family: "Avenir Regular";
  font-size: 1.5rem;
  color: #323232;
  line-height: 1.375rem;
  text-decoration: none;
  text-transform: capitalize;
}
.about__text {
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #323232;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: sentence;
}

/* ABOUT TABLET */
@media (min-width: 768px) {
  .about {
    margin-top: 4rem;
  }
  .about__container {
    padding: 0 4rem;
  }
  .about__header {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .about__figure {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }
  .about__caption {
    margin-top: 2rem;
  }
  .about__caption--header {
    font-size: 2rem;
    line-height: 2.75rem;
  }
  .about__caption--subheader {
    line-height: 5rem;
  }
  .about__content {
    padding: 0 4rem;
    margin-top: 3rem;
  }
  .about__subheader {
    font-family: "Avenir Demi";
    font-size: 2rem;
    color: #323232;
    line-height: 2rem;
    text-decoration: none;
    text-transform: sentence;
  }
  .about__text-wrapper {
    margin-top: 0.5rem;
    display: flex;
    gap: 2rem;
  }
  .about__text {
    line-height: 1.75rem;
  }
}
/* ABOUT DESKTOP */
@media (min-width: 1280px) {
  .about__container {
    padding: 0 8rem;
  }
  .about__figure {
    padding: 0 8rem;
  }
  .about__caption--subheader {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .about__content {
    padding: 0 8rem;
  }
  .about__subheader {
    font-family: "Avenir Regular";
    font-size: 1.5rem;
    color: #323232;
    line-height: 2rem;
    text-decoration: none;
    text-transform: sentence;
  }
}
/* ****************************** */
/*         GALLERY SECTION        */
/* ****************************** */
/* IMAGE ANIMATION */
.gallery__image {
  filter: grayscale(70%);
  transition: 0.3s ease;
}
.gallery__image:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

/* GALLERY MOBILE */
.gallery {
  background-color: #FAFAFA;
  padding: 0 1.5rem;
  margin-top: 2rem;
}
.gallery__header {
  margin: 0;
  padding: 2rem 0 1.5rem 0;
  font-family: "Avenir Demi";
  font-size: 2.5rem;
  color: #323232;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.gallery__images {
  display: flex;
  flex-direction: column;
}
.gallery__image {
  width: 100%;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

/* GALLERY TABLET */
@media (min-width: 768px) {
  .gallery {
    padding: 2rem 4rem;
  }
  .gallery__header {
    padding: 2rem 0 2.5rem 0;
  }
  .gallery__images {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .gallery__image {
    width: 31%;
    margin: 0;
    margin-bottom: 2rem;
  }
}
/* GALLERY DESKTOP */
@media (min-width: 768px) {
  .gallery {
    padding: 2rem 8rem;
  }
}
/* ****************************** */
/*        COMMENTS SECTION        */
/* ****************************** */
/* COMMENTS SECTION MOBILE */
.comments {
  padding: 1.5rem 1.5rem;
}
.comments__header {
  margin: 0;
  padding: 0;
  font-family: "Avenir Demi";
  font-size: 2rem;
  color: #323232;
  line-height: 2rem;
  text-decoration: none;
  text-transform: none;
}
.comments__image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
.comments__form-wrapper {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 0;
  border-bottom: solid 1px #E1E1E1;
}
.comments__left {
  padding-top: 2rem;
}
.comments__right {
  flex-grow: 1;
}

/* COMMENTS SECTION TABLET */
@media (min-width: 768px) {
  .comments {
    padding: 2rem 4rem;
  }
  .comments__header {
    font-size: 2.5rem;
  }
  .comments__form-wrapper {
    padding: 1.5rem 4rem;
  }
}
/* COMMENT SECTION DESKTOP */
@media (min-width: 1280px) {
  .comments {
    padding: 2rem 8rem;
  }
  .comments__form-wrapper {
    padding: 1.5rem 8rem;
  }
}
/* ****************************** */
/*         COMMENT ARTICLE        */
/* ****************************** */
/* COMMENT ARTICLE MOBILE */
.comment {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0;
  border-bottom: solid 1px #E1E1E1;
}
.comment__content {
  width: 100%;
}
.comment__image {
  width: 48px;
  border-radius: 50%;
}
.comment__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.comment__header {
  margin: 0;
  font-family: "Avenir Demi";
  font-size: 1rem;
  color: #323232;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.comment__text {
  margin: 0;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #323232;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: none;
}
.comment__text--date {
  margin: 0;
  font-family: "Avenir Regular";
  font-size: 1rem;
  color: #AFAFAF;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: none;
}

/* COMMENT ARTICLE TABLET */
@media (min-width: 768px) {
  .comment {
    padding: 1rem 4rem;
  }
}
/* COMMENT ARTICLE DESKTOP */
@media (min-width: 1280px) {
  .comment {
    padding: 1rem 8rem;
  }
}

/*# sourceMappingURL=bio.css.map */
