@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/globals";
@use "./partials/form";

/* ****************************** */
/*         ABOUT SECTION          */
/* ****************************** */

/* ABOUT MOBILE */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  &__container {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
  }
  &__header {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    @include typography("Avenir Demi", $text-lg, $black, 2rem, none, capitalize);
  }

  &__figure {
    margin: 0;
  }
  &__image {
    width: 100%;
  }
  &__caption {
    margin-top: 1.5rem;
    &--header {
      @include typography("Avenir Demi", $text-med, $black, 2.5rem, none, sentence);
    }
    &--subheader {
      @include typography("Avenir Demi", $text-med, $black, 4rem, none, sentence);
    }
  }

  &__content {
    margin-top: 2rem;
  }
  &__subheader {
    margin: 0;
    padding: 0;
    @include typography("Avenir Regular", $text-med, $black, 1.375rem, none, capitalize);
  }
  &__text {
    margin: 0;
    padding: 0;
    margin-top: 1.5rem;
    @include typography("Avenir Regular", $text-sm, $black, 1.5rem, none, sentence);
  }
}

/* ABOUT TABLET */
@include respond-to-min($tablet) {
  .about {
    margin-top: 4rem;
    &__container {
      padding: 0 4rem;
    }
    &__header {
      font-size: $text-xl;
      margin-bottom: 3rem;
    }

    &__figure {
      display: flex;
      flex-direction: column;
      padding: 0 4rem;
    }
    &__caption {
      margin-top: 2rem;
      &--header {
        font-size: $text-lg;
        line-height: 2.75rem;
      }
      &--subheader {
        line-height: 5rem;
      }
    }

    &__content {
      padding: 0 4rem;
      margin-top: 3rem;
    }
    &__subheader {
      @include typography("Avenir Demi", $text-lg, $black, $text-lg, none, sentence);
    }
    &__text-wrapper {
      margin-top: 0.5rem;
      display: flex;
      gap: 2rem;
    }
    &__text {
      line-height: 1.75rem;
    }
  }
}

/* ABOUT DESKTOP */
@include respond-to-min($desktop) {
  .about {
    &__container {
      padding: 0 8rem;
    }

    &__figure {
      padding: 0 8rem;
    }
    &__caption {
      &--subheader {
        font-size: $text-sm;
        line-height: 2.5rem;
      }
    }

    &__content {
      padding: 0 8rem;
    }
    &__subheader {
      @include typography("Avenir Regular", $text-med, $black, $text-lg, none, sentence);
    }
  }
}

/* ****************************** */
/*         GALLERY SECTION        */
/* ****************************** */

/* IMAGE ANIMATION */
%image-animation {
  filter: grayscale(70%);
  transition: 0.3s ease;
  &:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
}

/* GALLERY MOBILE */
.gallery {
  background-color: $alabaster;
  padding: 0 1.5rem;
  margin-top: 2rem;
  &__header {
    margin: 0;
    padding: 2rem 0 1.5rem 0;
    @include typography("Avenir Demi", $text-xl, $black, 2rem, none, capitalize);
  }

  &__images {
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 100%;
    margin-bottom: 1.5rem;
    cursor: pointer;
    @extend %image-animation;
  }
}

/* GALLERY TABLET */
@include respond-to-min($tablet) {
  .gallery {
    padding: 2rem 4rem;
    &__header {
      padding: 2rem 0 2.5rem 0;
    }

    &__images {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    &__image {
      width: 31%;
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}

/* GALLERY DESKTOP */
@include respond-to-min($tablet) {
  .gallery {
    padding: 2rem 8rem;
  }
}

/* ****************************** */
/*        COMMENTS SECTION        */
/* ****************************** */

/* COMMENTS SECTION MOBILE */
.comments {
  padding: 1.5rem 1.5rem;
  &__header {
    margin: 0;
    padding: 0;
    @include typography("Avenir Demi", $text-lg, $black, 2rem, none, capitalize);
  }
  &__image {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
  }
}

/* ****************************** */
/*         COMMENT ARTICLE        */
/* ****************************** */

/* COMMENT ARTICLE MOBILE */
.comment {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0;
  border-bottom: solid 1px $mercury;
  &__image {
    width: 48px;
    border-radius: 50%;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__header {
    margin: 0;
    @include typography("Avenir Demi", $text-sm, $black, 2rem, none, capitalize);
  }
  &__text {
    margin: 0;
    @include typography("Avenir Regular", $text-sm, $black, 1.5rem, none, none);
    &--date {
      margin: 0;
      @include typography("Avenir Regular", $text-sm, $silver, 1.5rem, none, none);
    }
  }
}
