@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/globals";

/* ****************************** */
/*           INPUT STYLE          */
/* ****************************** */

/* ARTICLE HOVER */
%article-hover {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: $alabaster;
  }
}

/* BUTTONS */
%button {
  cursor: pointer;
  width: 100%;
  background-color: $black;
  border-style: none;
  border-radius: 0.25rem;
  padding: 0.75rem 2rem;
  @include typography($text-med, 600, $white, 2rem, none, uppercase);
  letter-spacing: 0.05rem;
  transition: 0.3s;
  &:hover {
    background-color: $dark-black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0.438rem 1.813rem 0px;
  }
}

/* ****************************** */
/*         SHOWS SECTION          */
/* ****************************** */
.shows {
  margin: 2.5rem 0;
  @include respond-to-min($desktop) {
    padding: 0 8rem;
    display: flex;
    gap: 4rem;
  }
  &__left {
    padding: 0 1.5rem;
    margin-bottom: 2.5rem;
    @include respond-to-min($tablet) {
      padding: 0 4rem;
    }
    @include respond-to-min($desktop) {
      margin: 0;
      padding: 0;
      width: 25%;
    }
  }
  &__header {
    @include typography($text-lg, 600, $black, 2rem, none, capitalize);
    margin: 0;
    @include respond-to-min($tablet) {
      font-size: $text-xl;
    }
  }
  &__nav {
    display: none;
    @include respond-to-min($tablet) {
      display: flex;
      padding: 0 4rem;
      margin-top: 2rem;
    }
    @include respond-to-min($desktop) {
      margin: 0;
      padding: 0;
    }
  }
  &__right {
    @include respond-to-min($desktop) {
      flex-grow: 1;
    }
  }
  &__item {
    @include respond-to-min($tablet) {
      width: 25%;
    }
    @include respond-to-min($desktop) {
      padding: 0 1rem;
    }
  }
  &__text {
    @include respond-to-min($tablet) {
      @include typography($text-xs, 600, $silver, 2rem, none, uppercase);
      margin: 0;
      padding: 0;
    }
  }
}

/* ****************************** */
/*         SHOWS ARTICLES         */
/* ****************************** */

/* SHOW ARTICLE MOBILE */
.show {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-bottom: solid 0.063rem $mercury;
  @extend %article-hover;
  @include respond-to-min($tablet) {
    padding: 0.5rem 4rem 0.5rem 4rem;
    flex-direction: row;
    align-items: center;
  }
  @include respond-to-min($desktop) {
    padding: 0;
  }
  &__date {
    @include respond-to-min($tablet) {
      width: 25%;
    }
    @include respond-to-min($desktop) {
      padding: 0 1rem;
    }
  }
  &__venue {
    margin: 1.25rem 0;
    @include respond-to-min($tablet) {
      width: 25%;
    }
    @include respond-to-min($desktop) {
      padding: 0 1rem;
    }
  }
  &__location {
    @include respond-to-min($tablet) {
      width: 25%;
    }
    @include respond-to-min($desktop) {
      padding: 0 1rem;
    }
  }
  &__text {
    @include typography($text-sm-med, 400, $black, 2rem, none, capitalize);
    margin: 0;
    padding: 0;
    &--helper {
      @include typography($text-sm, 600, $silver, 2rem, none, uppercase);
      margin: 0;
      padding: 0;
    }
    &--bold {
      @include typography($text-sm-med, 600, $black, 2rem, none, capitalize);
      margin: 0;
      padding: 0;
    }
  }
  &__button-container {
    width: 100%;
    margin: 1rem 0;
    @include respond-to-min($tablet) {
      width: 25%;
    }
    @include respond-to-min($desktop) {
      padding: 0 1rem;
    }
  }
  &__button {
    @extend %button;
  }
  &__text {
    &--helper {
      @include respond-to-min($tablet) {
        display: none;
      }
    }
  }
  &--selected {
    background-color: $mercury;
    transition: 0.3s ease;
    &:hover {
      background-color: $mercury;
    }
  }
}
